// Google fonts
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro);

$font-stack: "Source Code Pro", sans-serif;
$background-color: #37474f;

body {
  font: 100% $font-stack;
  background: $background-color;
}
